In [3]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.read_excel(r"C:\Users\minu.mahajan\Downloads\OneDrive_2022-06-06\Data provided to Genpact\CUSTOMER LIST.xlsx")

In [6]:
df1

,Customer ID,Customer Name,Customer Class,Description,Print Invoices,Type,Attention,Phone 1,Phone 2,Fax,...,Postal Code,Terms,Default Payment Method,Salesperson ID,Sales Sub.,Price Class ID,Detailed Revenue Summary,Summary Revenue,Rev Channel,Name
0,ACEHP,Ace Hotel - Pittsburgh,800,Other Other,True,Customer,Accounts Payable,412-361-3300,NaN,NaN,...,15206,NET30,CHECK,HOUSE,800,DIRECT,OTHER FDM,OTHER SPECIALTY,Food,Jamie Fox
1,ALBERT,Albertsons Store Support Center,102,Grocery Safeway,True,Customer,NaN,NaN,NaN,NaN,...,83726,NET30,CHECK,PRES,102,DIRECT,SAFEWAY,OTHER SPECIALTY,Food,Jamie Fox
2,AMAZON,Amazon.com,1,Online Amazon,True,Customer,NaN,NaN,NaN,NaN,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
3,ACELA,Ace Hotel - LA,800,Other Other,True,Customer,Beth Outlaw,213-623-3233,NaN,NaN,...,90015,NET30,CHECK,HOUSE,800,DIRECT,OTHER FDM,OTHER SPECIALTY,Food,Jamie Fox
4,ACENO,Ace Hotel - New Orleans,800,Other Other,True,Customer,Rodney Fobbs,646-228-5978,NaN,NaN,...,70130,NET30,CHECK,HOUSE,800,DIRECT,OTHER FDM,OTHER,Food,Jamie Fox
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,SAMP OPS,Samples Ops 5760,999,Internal,True,Customer,NaN,NaN,NaN,NaN,...,90292,NET30,CHECK,HOUSE,800,NaN,Other,Other Specialty,Food,NaN
344,SAMP DAVID,SAMPLES - DAVID G,999,Internal,False,Customer,NaN,NaN,NaN,NaN,...,92629,NET30,ACH,HOUSE,800,NaN,NaN,NaN,Other,NaN
345,OLLIE'S,OLLIE'S BARGAIN OUTLET,500,Specialty Other,True,Customer,NaN,717-657-2300 EXT 2227,NaN,NaN,...,17112,NET30,CHECK,HOUSE,500,GLBLDIST,NaN,Other,Specialty,NaN
346,IMPERIAL D,IMPERIAL DIST,100,Grocery Other,True,Customer,NaN,NaN,NaN,NaN,...,01607,NET30,ACH,HOUSE,100,NaN,OTHER SPECIALTY,OTHER SPECIALTY,Grocery,NaN
347,EMERSON,"Emerson Ecologics, LLC",800,Other Other,True,Customer & Vendor,Deann Scott,800-654-4432,603-656-9778,NaN,...,03101,210NET30,ACH,HOUSE,800,DISTNEW,EMERSON ECOLOGICS,OTHER SPECIALTY,Food,NaN

In [10]:
df2 = pd.read_excel(r"C:\Users\minu.mahajan\Downloads\OneDrive_2022-06-06\Data provided to Genpact\CUSTOMER LIST.xlsx",sheet_name = "CUSTOMER LOCATIONS")

In [11]:
df2

,Customer ID,LocationID,Address Line 1,Address Line 2,Address Line 3,City,State,Country,Postal Code
0,AMAZON,10998,14601 Grant St,DEN3,NaN,Thornton,CO,US,80023
1,AMAZON,11176,5250 GOODMAN WAY,NaN,NaN,EASTVALE,CA,US,91752-5088
2,AMAZON,11002,10010 West Geiger Blvd,NaN,NaN,Spokane,WA,US,99224
3,AMAZON,11000,4532 Newcastle Rd,SCK1,NaN,Stockton,CA,US,98108
4,AMAZON,11016,6855 Shannon Pkwy,NaN,NaN,Union City,GA,US,30291-2009
...,...,...,...,...,...,...,...,...,...
133,COSTCO,10011,5100 Century Ave.,NaN,NaN,Kalamazoo,MI,US,49006
134,COSTCO,10013,3408 Bardstown Rd.,NaN,NaN,Louisville,KY,US,40218
135,PETSMART,11366,1200 VENICE DR,RENO DC,NaN,SPARKS,NV,US,89434
136,WALM,9173,Sams Distribution Center 6299,23701 W. Southern Ave.,NaN,Buckeye,AZ,US,85326
137,WALM,8914,WAL-MART DC 6016G-GENERAL,3920 IH 35 NORTH,NaN,NEW BRAUNFELS,TX,US,78130

In [12]:
df1.columns = df1.columns.str.lower()

In [13]:
print(df1.info())
print(df1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer id               348 non-null    object
 1   customer name             348 non-null    object
 2   customer class            348 non-null    int64
 3   description               348 non-null    object
 4   print invoices            348 non-null    bool
 5   type                      348 non-null    object
 6   attention                 191 non-null    object
 7   phone 1                   201 non-null    object
 8   phone 2                   3 non-null      object
 9   fax                       2 non-null      object
 10  email                     294 non-null    object
 11  address line 1            336 non-null    object
 12  address line 2            53 non-null     object
 13  city                      336 non-null    object
 14  state                     331 non-null    object
 15  postal code               333 non-null    object
 16  terms                     346 non-null    object
 17  default payment method    346 non-null    object
 18  salesperson id            325 non-null    object
 19  sales sub.                348 non-null    int64
 20  price class id            274 non-null    object
 21  detailed revenue summary  342 non-null    object
 22  summary revenue           342 non-null    object
 23  rev channel               348 non-null    object
 24  name                      131 non-null    object
dtypes: bool(1), int64(2), object(22)
memory usage: 65.7+ KB
None
(348, 25)

In [14]:
df2.columns = df2.columns.str.lower()

In [15]:
print(df2.info())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer id     138 non-null    object
 1   locationid      138 non-null    int64
 2   address line 1  138 non-null    object
 3   address line 2  6 non-null      object
 4   address line 3  0 non-null      float64
 5   city            138 non-null    object
 6   state           138 non-null    object
 7   country         138 non-null    object
 8   postal code     138 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 9.8+ KB
None
(138, 9)

In [16]:
dfinal = df2.merge(df1, on="customer id", how = 'inner')

In [17]:
dfinal

,customer id,locationid,address line 1_x,address line 2_x,address line 3,city_x,state_x,country,postal code_x,customer name,...,postal code_y,terms,default payment method,salesperson id,sales sub.,price class id,detailed revenue summary,summary revenue,rev channel,name
0,AMAZON,10998,14601 Grant St,DEN3,NaN,Thornton,CO,US,80023,Amazon.com,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
1,AMAZON,11176,5250 GOODMAN WAY,NaN,NaN,EASTVALE,CA,US,91752-5088,Amazon.com,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
2,AMAZON,11002,10010 West Geiger Blvd,NaN,NaN,Spokane,WA,US,99224,Amazon.com,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
3,AMAZON,11000,4532 Newcastle Rd,SCK1,NaN,Stockton,CA,US,98108,Amazon.com,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
4,AMAZON,11016,6855 Shannon Pkwy,NaN,NaN,Union City,GA,US,30291-2009,Amazon.com,...,98108,230NET60,ACH,HOUSE,1,AMAZON,AMAZON,AMAZON,ECOMM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,COSTCO,10011,5100 Century Ave.,NaN,NaN,Kalamazoo,MI,US,49006,Costco Stores,...,75236,215NET30,ACH,MARY,301,COSTCO,COSTCO,COSTCO,Club,Mary Harvat
134,COSTCO,10013,3408 Bardstown Rd.,NaN,NaN,Louisville,KY,US,40218,Costco Stores,...,75236,215NET30,ACH,MARY,301,COSTCO,COSTCO,COSTCO,Club,Mary Harvat
135,PETSMART,11366,1200 VENICE DR,RENO DC,NaN,SPARKS,NV,US,89434,PETSMART CORP HEADQUARTERS,...,85027,230NET60,ACH,HOUSE,500,DIRECT,PETSMART,OTHER SPECIALTY,Food,NaN
136,WALM,9173,Sams Distribution Center 6299,23701 W. Southern Ave.,NaN,Buckeye,AZ,US,85326,Wal-Mart Stores,...,72716,245NET60,CHECK,TDM,402,WALMART,WALMART,WALMART,Mass & Drug,Jamie Fox
137,WALM,8914,WAL-MART DC 6016G-GENERAL,3920 IH 35 NORTH,NaN,NEW BRAUNFELS,TX,US,78130,Wal-Mart Stores,...,72716,245NET60,CHECK,TDM,402,WALMART,WALMART,WALMART,Mass & Drug,Jamie Fox